header {
    background-color: rgb(200, 182, 143);
    border-radius: 30px;
}

body {
    font-family: 'Segoe UI';
}

h1 {
    text-align: center;
    margin-bottom: 2%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:rgb(95, 91, 91)

}

.menu-item {
    display: inline-flex;
    padding-left: 10;
    padding-right: 10;
}

.menu {
    text-align: center;
    border-top: solid;
    border-top-width: 1;
    border-top-color: rgb(79, 44, 13);
}

.cat-img {
    width: 500px;
}

.catalog-menu {
    list-style: none;
}

.dropdown {
    margin-left: 50;
    padding-bottom: 10;
    font-size: 24;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

.dropdown-element {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: rgb(200, 182, 143);
    min-width: 100%;
    padding: 12px 2px;
    margin-top: 10px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-element a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-element a:hover {
    color:rgb(95, 91, 91)
}

.dropdown:hover .dropdown-element {
    display: block;
}